:root {
    --black: black;
    --white: white;
    --tdark1: rgba(0, 0, 0, 0.1);
    --tdark2: rgba(0, 0, 0, 0.2);
    --tdark3: rgba(0, 0, 0, 0.3);
    --tdark4: rgba(0, 0, 0, 0.4);
    --tdark5: rgba(0, 0, 0, 0.5);
    --tdark6: rgba(0, 0, 0, 0.6);
    --tdark7: rgba(0, 0, 0, 0.7);
    --tdark8: rgba(0, 0, 0, 0.8);
    --tdark9: rgba(0, 0, 0, 0.9);
    --tlight1: rgba(256, 256, 256, 0.1);
    --tlight2: rgba(256, 256, 256, 0.2);
    --tlight3: rgba(256, 256, 256, 0.3);
    --tlight4: rgba(256, 256, 256, 0.4);
    --tlight5: rgba(256, 256, 256, 0.5);
    --tlight6: rgba(256, 256, 256, 0.6);
    --tlight7: rgba(256, 256, 256, 0.7);
    --tlight8: rgba(256, 256, 256, 0.8);
    --tlight9: rgba(256, 256, 256, 0.9);
}


/* WebApp container */
.WebAppV2-container.WebAppV2-container-has-sidebar.WebAppV2-container-minimal.WebAppV2-container-electron.WebAppV2-container-electron-windows.WebAppV2-container-has-title-bar {
    background: url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Skeleton classes */
.OverviewWidgetSkeleton-container-type-filled {
    background-color: rgba(0, 0, 0, 0.7);
}
.OverviewWidgetSkeleton-profile-picture,
.OverviewWidgetSkeleton-text,
.OverviewWidgetSkeleton-subtitle,
.OverviewWidgetSkeleton-paragraph,
.SkeletonPlaceholder-container-no-children,
.ExploreSkeleton-title,
.ExploreSkeleton-card {
    background: linear-gradient(270deg, var(--tlight4), var(--tlight4), var(--tlight4), var(--tlight4), var(--tlight4), var(--tlight4));
}
/* Universal Modal */
/* Base colour */
.ModalV2-container,
.ModalHeaderV2-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Copy text/server invite */
.ModalV2-container .CopyableTextbox-container {
    background-color: transparent;
}
/* Drop down */
.ModalV2-container .GuildedSelect-container.GuildedSelect-container-dark .Select-menu-outer {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Drop down: selected */
.ModalV2-container .GuildedSelect-container.GuildedSelect-container-dark .Select-option.is-selected {
    background-color: rgba(0, 0, 0, 0.5)
}
/* New DM: Search user */
.StatusContext-container.ModalV2-modal-content .GlobalSearchResults-container {
    background-color: rgba(0, 0, 0, 0.5);
}
.StatusContext-container.ModalV2-modal-content .GlobalSearchResult-container-desktop.GlobalSearchResult-container-focused {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Radio options */
.ModalV2-container .RadioOptionPanel-container-selected:not(.OptionsMenuPageWrapper-container>) {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Right click modal */
/* Base colour */
.TransientMenu-container-style-default {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2.5px);
    border: solid 1px rgba(256, 256, 256, 0.2);
}
/* Reaction picker */
/* Base colour */
.ReactionPickerOverlay-container .ReactionPickerNavbar-container,
.ReactionPickerOverlay-container .ReactionPicker-content,
.ReactionPickerOverlay-container .SearchBarV2-container,
.ReactionPickerOverlay-container .ReactionPickerFooter-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Reaction picker: Skin colour picker */
.SelectMenu-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Reaction picker: Skin colour selected */
.SelectMenuItem-container-selected {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Reaction picker: Skin colour hover */
.SelectMenuItem-container-desktop:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Reaction picker: Skin colour picker: border */
.TransientMenu-container-style-default {
    border: solid 1px rgba(0, 0, 0, 1);
    border-radius: 10px;
}
/* Reaction picker: Loading emoji */
.ReactionPicker-content .ReactionIcon-image.ReactionPickerIcon-icon.Img-skeleton-rounded-square {
    display: none;
}



/* Main app */
/* Header */
.ScreenHeader-container:not(.UserProfileV3-content .ScreenHeader-container) {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Main app base colour */
body,
.ChannelWrapper-container,
.ChatChannelContents-container,
.LayeredPageContent-content,
.TournamentsPortalPage-container,
.SettingsMenu-container .OptionsMenuPageWrapper-container,
.BlogPage-container,
.BlogPage-container .BlogHeader-container:not(.BlogHeader-container-bare):not(.BlogHeader-container-user-blog) {
    background: url(https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.JobsPerks-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}




/* Server list */
/* Server list: Main colour */
.NavV4Sidebar-team-selector {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-attachment: fixed;
}
/* Server search: Main colour */
.NavV4Sidebar-sidebar-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-attachment: fixed;
}
/* Server search: Search servers */
.NavV4Sidebar-sidebar-footer .SearchBarV2-container {
    background: linear-gradient(rgba(256, 256, 256, 0.05), rgba(256, 256, 256, 0.05)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* Server */
/* Server: Content navigation */
.TeamPageNavV3-team-content .GroupSelector-container,
.NavV4Footer-container .NavV4Footer-footer-content {
    background: url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Channel list: Main colour */
.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Channel list: New server tasklist upsell */
.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections .SetupUpsell-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Channel list: Unread messages */
.TeamPageNavV3-container-desktop .ChatChannelAlertBar-container {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
/* Channel list: Active channel */
.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections .TeamChannelItemContents-container-selected {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Channel list: Connected to voicechannel */
.VoiceConnectionDisplayPanelContents-container * {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Channel list: Channel permissions: Selected role */
.TeamSettingsPermissionsItem-container-selected {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
}
/* Member & threadlist: Main colour */
.TeamPageV2-container .SidebarWrapper-container,
.TournamentPage-contents .SidebarWrapper-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Member & threadlist: Inside: Colour */
.SimpleIconTabMenu-container .SidebarInfoItem-container:not(.SidebarInfoItem-container.TeamPageContentSidebarGames-container.TeamPageContentSidebarGames-container-unpadded.TeamPageContentSidebarAbout-games),
.TournamentPage-contents .SidebarInfoItem-container {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Member & threadlist: Top button things */
.TeamPageV2-container .SidebarWrapper-container .SimpleIconTabMenuHeaderItem-container:hover,
.TeamPageV2-container .SidebarWrapper-container .SimpleIconTabMenuHeaderItem-container:active,
.TeamPageV2-container .SidebarWrapper-container .SimpleIconTabMenuHeaderItem-container:focus {
    background-color: rgb(0, 0, 0, 0.2);
}
/* Profile, Status, Activity, Settings and More */
.NavV4Footer-right {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Profile, Status, Activity, Settings and More: Account buttons: Inbox */
.ChannelActivityDisplay-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Profile, Status, Activity, Settings and More: Account buttons: Inbox: Content */
.ChannelActivityDisplay-group-header,
.ChannelActivityDisplay-item {
    background-color: transparent;
}




/* Direct messages */
/* DM list base colour */
.WebAppV2-container-minimal .WebAppV2-sidebar .ChatChannelList-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* DM list: Active dm */
.ChatChannelList-items .ChatChannelListItem-container-selected {
    background-color: rgba(0, 0, 0, 0.5);
}
/* DM list: Hovered dm */
.ChatChannelList-items .ChatChannelListItem-container:not(.ChatChannelListItem-container-selected):hover {
    background-color: rgba(256, 256, 256, 0.1);
}
/* DM list: Close X button */
.ChatChannelList-items .ChatChannelListItem-container-selected .ChatChannelListItem-remove-icon, .ChatChannelListItem-container:not(.ChatChannelListItem-container-selected):hover .ChatChannelListItem-remove-icon {
    background-color: transparent;
}
/* DM list: Whatever the fuck is the bottom thing */
.NavV4FooterGlobalContextDisplay-teams-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}




/*
Changes both server && account settings
Adds a background to the main page to fit with modal section
*/
.OptionsMenu-container-desktop .OptionsMenu-options-control {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-attachment: fixed;
}
.OptionsMenuPageWrapper-container:not(.Form-container-section-border .Form-section:not(:first-child), .Form-container-section-border-unpadded .Form-section:not(:first-child), .Form-container-row-border .Form-section:not(:first-child)),
.StatusContext-container .OptionsMenu-option-content {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* Account settings */
/* Overview: Base colour */
.OptionsMenuPageWrapper-container .DefaultReadonlyEditableForm-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Billing: Active tab */
.UserSettingsBillingPage-container .HorizontalTab-container.HorizontalTab-container-selected.HorizontalTab-container-desktop.HorizontalTabMenu-tab {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Billing: Active tab highlighter */
.UserSettingsBillingPage-container .HorizontalTab-highlighter {
    display: none;
}
/* Billing: Hover tab */
.UserSettingsBillingPage-container .HorizontalTab-container:hover,
.UserSettingsBillingPage-container .HorizontalTab-container:active,
.UserSettingsBillingPage-container .HorizontalTab-container:focus {
    background-color: rgba(0, 0, 0, 0.3);
}
/* Billing: Tab text colour */
.UserSettingsBillingPage-container .HorizontalTab-tab-text {
    color: darkgray
}
/* Billing: Support server subcriptions */
.UserSettingsBillingPage-container .UserSettingsServerSubscriptionsUpsell-container, .UserSettingsBillingPage-container .ServerSubscriptionBar-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Billing: Subscribe modal */
.ServerSubscriptionFlowHeader-container .ServerSubscriptionFlowHeader-image {
    display: none;
}
/* Billing: Subscribe > Tier modal */
.ServerSubscriptionStageWrapper-content .ItemChooserItemWrapper-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Billing: Add payment method modal */
.PaymentInstrumentCreator-container .PaymentInstrumentCreator-element {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Billing: Payments */
.UserSettingsBillingPage-container .PaymentInstrumentSelector-container .CheckboxPanel-container-selected {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Security: 2FA */
.UserSettingsSecurityPage-container .PersistentUpsell-container-flavor-settings {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Privacy: Pickers */
.UserPrivacySettingsPage-container .RadioOptionPanel-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Connections: Connections */
.UserSettingsConnectionsPage-container .SocialLinkPanel-header {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Connections: Extra options */
.UserSettingsConnectionsPage-container .SocialLinkConnectionOptionsForm-form {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Voice and video: Pickers */
.VoiceAndVideoSettingsPage-container .CheckboxPanel-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Voice and video: Hovered picker */
.VoiceAndVideoSettingsPage-container .CheckboxPanel-container.CheckboxPanel-container-clickable.CheckboxPanel-container-flavor-default:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Voice and video: Preview video */
.VoiceAndVideoSettingsPage-container .VideoPreferencesPane-video-preview {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Keybinds: Keybinds base colour */
.KeybindsSettingsPage-container .ItemKeybindInput-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Streamer mode: Base colour  */
.UserSettingsStreamerModePage-container .FormSection-container-section-background-inset {
    background-color: rgba(0, 0, 0, 0.7);
}




/* Server settings */
/* Overview: Notification settings */
.OptionsMenuPageWrapper-container .RadioOptionPanel-container-selected {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Margins for overview */
.OptionsMenuPageWrapper-container>.Form-container-section-border .Form-section:not(:first-child):not(.TournamentSettingsGameSettingsPage-container>) {
    margin-top: 0;
}
/* Bots: Bot panels */
.TeamSettingsBotsPage-container .UserCTAPanel-container-style-bordered .UserCTAPanel-contents:not(.UserCTAPanel-container-disabled) {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Bots: Edit flows */
.ManageFlowOverlay-container .UserCTAPanel-container-style-bordered .UserCTAPanel-contents:not(.UserCTAPanel-container-disabled) {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Groups: Group panels */
.TeamSettingsGroupsPageContentWrapper-container .GroupSettingsPanel-container {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Groups: Edit groups: Drop down */
.CreateGroupOverlayWrapper-content .TypeaheadInput-container-dropdown .TypeaheadInput-typeahead-options-list {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Integrations: Base colour */
.TeamSettingsIntegrationsPage-content .TeamSettingsAddIntegration-container,
.TeamSettingsIntegrationsPage-content .SocialLinkPanel-header {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Integrations: Import Discord server: Background */
.ModalWrapper-container.ModalWrapper-container-required:not(.ModalWrapper-background-style-transparent) {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}
/* Integrations: Import Discord server: Modal base colour */
.FullScreenFlowStageWrapper-contents-wrapper {
    background-color: transparent;
}
/* Integrations: Import Discord server: Remove guild summary */
.TeamSummaryBar-container.TeamSummaryBar-container-in-place.OnboardingTeamStageEnabled-summary {
    display: none;
}
/* Integrations: Import Discord server: Template information */
.ImportServerTemplateResults-results-container {
    background-color: rgba(256, 256, 256, 0.1);
    border-radius: 15px;
}
/* Widgets: Code */
.EmbedWidgetSettingPage-embed .CopyableTextbox-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Widgets: Micro: Main colour */
.EmbedWidgetSettingPage-container .GuildedBadge-container {
    background-color: rgba(0, 0, 0, 0.6);
    border: solid 1px rgba(0, 0, 0, 1);
}
/* Widgets: Micro: Fix logos */
.EmbedWidgetSettingPage-container .GuildedBadge-container .GuildedBadge-info-avatar,
.GuildedBadge-container .GuildedBadge-logo {
    background-color: transparent;
}
/* Widgets: Micro: Hover */
.EmbedWidgetSettingPage-container .GuildedBadge-container:hover .GuildedBadge-info-avatar,
.GuildedBadge-container:hover .GuildedBadge-info-text {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Widgets: Small & Large: Base colour */
.EmbedWidgetSettingPage-container .TeamCardDisplay-container,
.EmbedWidgetSettingPage-container .EmbedCardFooter-container {
    background-color: rgba(0, 0, 0, 0.1);
}
/* Widgets: Small & Large: Fix background */
.EmbedWidgetSettingPage-preview .CardWrapper-container {
    background-color: transparent
}
/* Webhook */
.TeamSettingsWebhookPage-webhooks .UserCTAPanel-container {
    background-color: rgba(256, 256, 256, 0.2)
}
/* Webhook: Edit webhook: Drop down */
.TeamSettingsWebhookPage-webhooks .GuildedSelect-container.GuildedSelect-container-dark .Select-menu-outer {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2.5px);
}
/* Subscriptions: Enable subscriptions */
.ServerSubscriptionsSetupUpsell-container .ServerSubscriptionsSetupUpsell-content {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Subscriptions: Remove image */
.ServerSubscriptionsSetupUpsell-container .ServerSubscriptionsSetupUpsell-header {
    display: none;
}
/* Subscriptions: Tiers */
.TeamSettingsServerSubscriptionsManage-container .ServerSubscriptionsManageTierSettingsCard-container {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
}
/* Subscriptions: Reports */
.TeamSettingsServerSubscriptionsManage-container .ServerSubscriptionsReports-earnings-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
}
/* Subscriptions: Settings */
.TeamSettingsServerSubscriptionsManage-container .ServerSubscriptionsSettings-container {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
}




/* My profile */
/* Profile header */
.UserProfileV3-content .ScreenHeader-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Main colour */
.WebAppV2-sidebar, .NavV4SectionSidebar-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.UserProfileV3-content .UserProfileV3-container {
    background: url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Profile: Loading banner */
.UserProfileBackground-image.Img-skeleton-square {
    display: none;
}
/* Profile: Post */
.UserProfileV3-content .UserProfilePostPanel-container:not(.UserProfileFeedWidget-posts.UserProfilePostsDisplay-container) {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Profile: Published post */
.UserProfileV3-profile-content .StatusMessage-container-persistent.StatusMessage-container-type-info {
    background-color: rgba(256, 256, 256, 0.2);
}
/* Profile: Post > Editing */
.UserProfileV3-content .Editor-container {
    background-color: transparent;
}
/* Profile: Post > Reply */
.UserProfileV3-content .ReplyPanel-container-viewing {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Profile: Games */
.UserProfileV3-profile-content .UserGameSummaryCard-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Profile: Games: Base colour */
.UserProfileGamesTab-container .PlayerAliasCard-container-type-game,
.UserProfileGamesTab-container .PlayerAliasCard-container-type-game .PlayerAliasCard-info {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Profile: Games: Game image */
.UserProfileGamesTab-container .PlayerCard-container {
    background-color: rgba(0, 0, 0, 0);
}
/* Profile: Media: Base colour */
.MediaDisplayControlV2-media-display .MediaDisplayItemV3-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Profile: Servers: Base colour */
.UserProfileTeamsTab-container .CardWrapper-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Profile: Friends: Selected tab */
.UserProfileFriendsListTab-container .HorizontalTab-container.HorizontalTab-container-selected.HorizontalTab-container-desktop.HorizontalTab-container-custom-tab.HorizontalTabMenu-tab {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Profile: Friends: Highlighter */
.UserProfileFriendsListTab-container .HorizontalTab-highlighter {
    display: none;
}
/* Profile: Friends: Hover */
.UserProfileFriendsListTab-container .HorizontalTab-container:hover,
.UserProfileFriendsListTab-container .HorizontalTab-container:active,
.UserProfileFriendsListTab-container .HorizontalTab-container:focus {
    background-color: rgba(0, 0, 0, 0.3);
}
/* Profile: Friends: Hover > Interaction icons */
.UserProfileFriendsListTab-container .ItemManager-container .FriendsList-actions .FriendList-action-icon {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Profile: Servers: Create server base colour */
.OnboardingExperience-background {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(2.5px);
}
/* Profile: Servers: Create server: Games > Panels */
.OnboardingExperience-create-team-flow .ItemChooser-container .ItemChooserItemWrapper-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Profile: Servers: Create server: Games > Search */
.OnboardingExperience-create-team-flow .ItemChooser-container .SearchBarV2-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Profile: Servers: Create server: Drop downs */
.TransientMenuPortalContext-portal-container .TypeaheadMenu-container {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Profile: Servers: Join server: Selected tab */
.ExplorePage-content .HorizontalTab-container.HorizontalTab-container-selected.HorizontalTab-container-desktop.HorizontalTabMenu-tab {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Profile: Servers: Join server: Highlighter */
.ExplorePage-content .HorizontalTab-highlighter {
    display: none;
}
/* Profile: Servers: Join server: Hover */
.ExplorePage-content .HorizontalTab-container:hover,
.ExplorePage-content .HorizontalTab-container:active,
.ExplorePage-content .HorizontalTab-container:focus {
    background-color: rgba(0, 0, 0, 0.3);
}
/* Profile: Servers: Join server: Drop down */
.ExplorePage-content .TypeaheadInput-container:not(.TypeaheadInput-container-menu-portal) .TypeaheadInput-typeahead-options-list {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Profile: Servers: Join server: Server panels */
.ExplorePage-content .CardWrapper-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Profile: Applications: Application panels */
.RecruitmentApplicantsDisplayWrapper-container .ApplicantDisplayItem-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Profile: Applications: Sections */
.ApplicantSummaryCard-container .ApplicantSummaryCard-votes,
.ApplicantSummaryCard-container .ApplicantSummaryCard-buttons-applied-date,
.ApplicantSummaryCard-container .UserInfoSummaryItem-container-layout-grid,
.RecruitmentApplicantViewer-container .RecruitmentApplicantViewer-form-results {
    background-color: rgba(0, 0, 0, 0.7);
}




/* My servers: Server panels: Base colour */
.MyTeamsPage-container.ContentLoader-container .CardWrapper-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* My servers: Join server > Status */
/* My servers: Join server > Status: Drop downs */
.PlayerLfgListing-header-settings .TypeaheadMenu-container {
    background-color: rgba(0, 0, 0, 0.9);
}
/* My servers: Join server > Status: Setup checklist */
.PlayerLfgListing-card-wrapper .PlayerLfgListing-card {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.PlayerLfgListing-card-wrapper .LfgLfmListingCard-upsell-bg {
    display: none;
}




/* Tournaments: Featured panels */
.TournamentsPortalPage-sections .TournamentCard-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Tournaments: Create modal */
.FullScreenIconFlowWrapper-background {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Tournaments: Create modal: Search */
.ItemChooser-container .SearchBarV2-container:not(.OnboardingExperience-create-team-flow>) {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Tournaments: Create moda: Games */
.ItemChooser-container .ItemChooserItemWrapper-container:not(.OnboardingExperience-create-team-flow>) {
    background-color: rgba(0, 0, 0, 0.5);
}




/* Blog: Post panel */
.BlogPage-container .BlogPostSummary-container {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Blog: Post panel > Social icons */
.BlogPage-container .LandingPageV3FooterSocialLinkIcons-social-link {
    background-color: rgba(256, 256, 256, 0.1)
}
/* Blog: Post: Share article */
.BlogPage-container .CopyableTextbox-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Blog: Post: Remove slant */
.LandingPageV3Footer-trendy-slash {
    transform: none;
}
/* Blog: Post: Footer base colour */
.LandingPageV3Footer-trendy-slash,
.LandingPageV3Footer-trendy-slash,
.LandingPageV3Footer-footer-content {
    background: url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Blog: Post: Footer > social icons */
.LandingPageV3Footer-footer-content .LandingPageV3FooterSocialLinkIcons-social-link {
    background-color: rgba(0, 0, 0, 0.2)
}
/* Blog: Post: Footer > Sign up modal */
.OneStepSignUp-container.OneStepSignUp-container-has-cancel-text.OneStepSignUpLogIn-form {
    background-color: rgba(0, 0, 0, 0.7);
}




/* Partner program: Base colour */
.PartnerProgramLandingHero-container,
.PartnerProgramLanding-container .PartnerProgramLanding-requirements-container {
    background: url(https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Partner program: Profile */
.PartnerProgramLanding-container .PlayerCard-container {
    background-color: rgba(0, 0, 0, 0.7);
}




/* We're hiring */
/* Hiring: Job panels */
.JobLandingOpenings-contents .JobLandingOpenings-job {
    background-color: rgba(0, 0, 0, 0.7);
}



/* Channel specific */
/* Overview: Banner loading */
.TeamPageBanner-skeleton {
    background: rgba(0, 0, 0, 0.5) !important;
}
.TeamOverviewBanner-banner.TeamPageBanner-overview-banner.Img-skeleton-square {
    content: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
/* Overview: Latest announcements/Recent forum activity */
.TeamOverviewContentSection-list .TeamOverviewContentItemCard-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Overview: Latest announcements/Recent forum activity: Pagination: Left */
.CarouselList-container-size-sm .CarouselList-blur-light.CarouselList-left-blur {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2) 70%);
}
/* Overview: Latest announcements/Recent forum activity: Pagination: Right */
.CarouselList-container-size-sm .CarouselList-blur-light.CarouselList-right-blur {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgb(0, 0, 0, 0.1) 70%);
}
/* Overview: Announcements: Pinned */
.PinnedAnnouncements-announcements .TeamPostRow-container {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Overview: Leaderboard */
.TeamOverviewLeaderboardSection-list .TeamOverviewLeaderboardSection-leaderboard-container {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Overview: Announcement: Main colour */
.TeamOverviewSummaryDisplay-public-announcements .OverviewWidgetItemWrapper-container-type-filled {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Overview: Announcement: Post > Image loading */
.TeamOverviewSummaryDisplay-public-announcements .MediaRenderer-content.MediaRenderer-content-editor-default.MaximizableImage-image.Img-skeleton-square {
    display: none;
}
/* Overview: Announcement: Post > Form base colour */
.TeamOverviewSummaryDisplay-public-announcements .CustomFormWrapper-container-standalone {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Overview: Announcement: Post > Embed base colour */
.TeamOverviewSummaryDisplay-public-announcements .ContentEmbedCard-container .OpenGraphEmbed-content {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Applications: Base colour */
.TeamRecruitmentTab-container .TeamApplicationInlineLink-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Applications: Share link */
.TeamRecruitmentTab-container .CopyableTextbox-container {
    background-color: transparent;
}
/* Applications: Drop down */
.TeamRecruitment-container .GuildedSelect-container.GuildedSelect-container-dark .Select-menu-outer {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Applications: Drop down: Selected */
.TeamRecruitment-container .GuildedSelect-container.GuildedSelect-container-dark .Select-option.is-selected {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Applications: Search */
.TeamRecruitment-all-applications .SearchBarInput-input {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
/* Applications: Preview */
.RecruitmentApplicationEditor-forms-previewing {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Applications: Sort */
.Overlay-container .Overlay-status-context .ItemManagerFilterWrapper-container,
.LandingPageNavBar-container-theme-gilded,
.JobLandingHeader-container::before {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}
/* Subscription */
/* Subscriptions: Support your server */
.ServerSubscriptions-container .ServerSubscriptionsSectionMemberUpsell-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Subscriptions: Staff: Earnings */
.ServerSubscriptions-container .ServerSubscriptionsSectionAdminHasSetup-earnings {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Subscriptions: Staff: Invite others */
.ServerSubscriptions-container .ServerSubscriptionsInviteUpsell-container {
    background-color: rgba(0, 0, 0, 0.7);
}
.ServerSubscriptions-container .ServerSubscriptionsInviteUpsell-container .CopyableTextbox-container {
    background-color: transparent;
}
/* Subscriptions: Staff: Rewards */
.ServerSubscriptions-container .ServerSubscriptionsTierUpsellCard-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ServerSubscriptions-container .ServerSubscriptionsTierUpsellCard-body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Subscriptions: Recent activity */
.ServerSubscriptions-container .ServerSubscriptionsRecentActivityFeed-empty-wrapper {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Chat: Unread messages */
.ChatChannelAlertBar-container.ChatChannelAlertBar-container-type-unread-messages.ChatChannelMessages-alert-bar {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border-radius: 5px;
}
/* Chat: input/archived */
.ChatChannelInput-container .ChatChannelInput-editor,
.ChatChannelInput-container .BannerWithButton-container {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Chat: Reply: Replying to: Box */
.ChatChannelInputStatusBar-container {
    background-color: rgba(256, 256, 256, 0.1);
}
.ChatChannelInputStatusBar-container {
    height: auto;
}
.ChatChannelInput-container .ChatChannelInput-status-drawer {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    z-index: 2;
    padding-bottom: 12px;
}
/* Chat: Create thread */
.ChatChannelInput-container .ChannelTitleInput-container {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Chat: Message hover */
.ChatV2Message-container:not(.ChatV2Message-container-editing):not(.ChannelWrapper-content .ChannelPinnedMessages-container .ChatV2Message-container):hover {
    background-color: rgba(0, 0, 0, 0.25)
}
/* Chat: Pinned message background */
.ChatV2MessageContents-container-pinned .ChatV2MessageContents-display {
    background-color: transparent;
}
/* Chat: Pinned messages: Main colour */
.ChannelPinnedMessages-container {
    background-color: rgba(0, 0, 0, 0.95);
}
/* Chat: Pinned messages: Message: Main colour */
.ChannelWrapper-content .ChatV2PinnedMessage-message-wrapper {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Chat: Pinned messages: Message: Hover */
.ChannelWrapper-content .ChannelPinnedMessages-container .ChatV2Message-container:hover {
    background-color: rgba(256, 256, 256, 0.03);
}
/* Chat: Pinned messages: Message: Quote */
.ChatV2PinnedMessage-message-wrapper .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Chat: Pinned messages: Message: Embed */
.ChatV2PinnedMessage-message-wrapper .OpenGraphEmbed-content {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Chat: share channel */
.ShareChannelContentOverlay-container .DefaultContentEmbedCard-content-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}
.ShareChannelContentOverlay-container .ContentEmbedCardFooter-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Chat: share channel > Hover */
.ShareChannelContentOverlay-container .DefaultContentEmbedCard-content-wrapper:not(.DefaultContentEmbedCard-content-wrapper-disabled)::after {
    background: rgba(0, 0, 0, 0.5);
}
/* Chat: Spaced message */
.ChatV2Message-container {
    margin-bottom: 5px;
}
/* Chat: Input > Loading image */
.MediaRenderer-content.MediaRenderer-content-editor-simple.MaximizableImage-image.Img-skeleton-square,
.MaximizedImageOverlay-image.Img-skeleton-square {
    display: none;
}
/* Chat: Input> Codeblock */
.SlateEditor-container .CodeContainerRenderer-container {
    background-color: rgba(0, 0, 0, 0.6);
}
.CodeContainerRenderer-container .CodeLineRenderer {
    background-color: transparent;
    font-family: 'Consolas', monospace;
}
.MarkRenderer-inline-code-v2 {
    font-family: 'Consolas', monospace;
    letter-spacing: 1px;
}
/* Chat: Input > Emoji */
.ChatChannelInput-container .TypeaheadDrawer-container {
    background-color: rgba(0, 0, 0, 0.9);
}
.ChatChannelInput-container .SlateTypeaheadMenuHeader-container {
    background-color: rgba(0, 0, 0, 0.3);
}
/* Chat: Input > Emoji : Selected */
.ChatChannelInput-container .MenuItemEnabled-container-highlighted {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Chat: Input > Quote */
.SlateEditor-container .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Chat: Input > Embed */
.ChatChannelInput-container .ContentEmbedCardStack-container {
    display: none;
}
/* Chat: Shared channel */
.ChatV2MessageContents-container .DefaultContentEmbedCard-content-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
}
.ChatV2MessageContents-container .ContentEmbedCardFooter-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Chat: Shared channel > Hover */
.ChatV2MessageContents-container .DefaultContentEmbedCard-content-wrapper:not(.DefaultContentEmbedCard-content-wrapper-disabled)::after {
    background: rgba(0, 0, 0, 0.5);
}
/* Chat: Moderator view */
.ChatChannelMessages-container .ChatChannelAlertBar-container.ChatChannelAlertBar-container-type-moderator-view.ChatChannelAlertBar-container-banner.ChatChannelMessages-moderation {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
/* Chat: Embed base colour */
.ChatV2MessageContents-container .OpenGraphEmbed-content {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Chat: Embed hover */
.ChatV2MessageContents-container .OpenGraphEmbedContent-container::after {
    background-color: rgba(0, 0, 0, 0.4);
}
/* Chat: Quote */
.ChatV2MessageContents-container .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Chat: Codeblock */
.ChatV2MessageContents-container .CodeContainerRenderer-container {
    background-color: rgba(0, 0, 0, 0.6);
}
/* Chat: Replpy to in a thread */
.ChatV2MessageReplyTooltip-arrow,
.ChatV2MessageReplyTooltip-content-wrapper {
    background-color: rgba(0, 0, 0, 0.95);
}
/* Chat: Replpy to in a thread: Reply content */
.ChatV2MessageReplyTooltip-content-wrapper .Editor-container {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Chat: active message */
.ChatV2Message-container-active {
    background-color: rgba(256, 256, 256, 0.1)
}
/* Chat: Message options: Main colour */
.ChatV2Message-content-wrapper .QuickActionBar-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Chat: Reaction on message: Background */
.ReactionBadge-container.ReactionBadge-container-active .ReactionBadge-container-content {
    background-color: rgba(256, 256, 256, 0.05);
    border: solid 1px rgba(0, 0, 0, 1);
}
/* Chat: Thread link */
.ChatV2Message-content-wrapper .ChatMessageThread-container {
    background-color: rgb(0, 0, 0, 0.7);
}
/* Chat: Thread link: Hovered */
.ChatV2Message-content-wrapper .ChatMessageThread-container::after {
    background-color: rgba(256, 256, 256, 0.2);
}
/* Chat: Thread link: Last reply colour */
.ChatMessageThread-container .LastReplyDisplay-container.LastReplyDisplay-container-participant:not(.LastReplyDisplay-container-unread):before {
    background-color: rgba(66, 124, 135, 1);
}
/* Chat: User modal */
.ProfileHoverCardV2Overlay-container,
.ProfileHoverCardV2Overlay-action-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Stream: Base colour */
.StreamChannelDisplay-container {
    background-color: rgba(0, 0, 0, 0.7)
}
/* Stream: Screenshare modal > Application window: Base colour */
.DesktopAppCaptureDevicePickerOverlay-window .DesktopAppCaptureDevicePickerOverlay-options, .DesktopAppCaptureDevicePickerOverlay-screen .DesktopAppCaptureDevicePickerOverlay-options{
    background-color: rgba(0, 0, 0, 0.5);
}
/* Stream: Screen, Cam, Voice */
.StreamChannelDisplay-container .SVGIconWithTooltip-container-flavor-hover-bleach {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Stream: Application window */
.StreamsDisplayV2-container:not(.StreamTheaterViewer-content .StreamsDisplayV2-container) {
    background-color: transparent;
}
/* Stream: Theatre display */
.StreamTheaterViewer-content .StreamsDisplayV2-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Stream: Theatre sidebar */
.StreamTheaterViewer-sidebar .ScreenHeader-container,
.StreamTheaterViewer-sidebar .SidebarWrapper-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}