:root {
    --black: #010003ff;
    --rich-black-fogra-29: #00080Fff;
    --rich-black-fogra-29-2: #000e19;
    --rich-black-fogra-29-3: #051522;
    --dark-jungle-green: #0D262Bff;
    --warm-black: #1C4545ff;
    --dark-slate-gray: #346058ff;
    --morning-blue: #7FA297ff;
}

.ChatChannelContents-container, .LayeredPageContent-content,
.TournamentsPortalPage-container, .UserProfileV3-container,
.OptionsMenu-option-content, .OptionsMenuPageWrapper-container,
.OptionsMenu-container-desktop .OptionsMenu-options-control,
.NavV4Footer-footer-content, .GroupSelector-container {
    background: url(https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/* Member & threadlist sidebar */
.TeamPageV2-container .SidebarWrapper-container {
    background-color: rgba(0, 0, 0, 0.7);;
}
/* Member & threadlist inside */
.TeamPageV2-container .SidebarWrapper-container 
.SimpleIconTabMenu-header, .SidebarInfoItem-container {
    background-color: transparent;
}
.TeamPageV2-container .SidebarWrapper-container
.SimpleIconTabMenuHeaderItem-container:hover,
.TeamPageV2-container .SidebarWrapper-container
.SimpleIconTabMenuHeaderItem-container:active,
.TeamPageV2-container .SidebarWrapper-container
.SimpleIconTabMenuHeaderItem-container:focus {
    background-color: rgb(0, 0, 0, 0.3);
}
/* Channel header, options and sidebar button */
.ChannelWrapper-container .ScreenHeader-container {
    background-color: rgba(0, 0, 0, 0.6);
}
/*Channel list */
.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Active channel */
.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections .TeamChannelItemContents-container-selected {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Profile, Status, Activity, Settings and More */ 
.NavV4Footer-right {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Channel input */
.ChatChannelInput-container .ChatChannelInput-editor {
    border-radius: 20px;
    background-color: rgba(256, 256, 256, 0.1);
}
/* Reply box */
.ChatChannelInputStatusDrawer-typeahead-portal-target, .ChatChannelInputStatusDrawer-inline-reply-bar {
    margin-bottom: 0px;
    padding-bottom: 1px;
    border-radius: 15px;
}
/* Reply box */
.ChatChannelInputStatusBar-container {
    background-color: rgb(5, 21, 23, 1);
    position: absolute;
    left: 0px;
    bottom: 0;
    border-radius: 0;
}
/* React, Reply, Thread & More */
.ChatV2Message-content-wrapper .QuickActionBar-container {
    background-color: rgba(0, 0, 0, 0.7);
}
/* React, Reply, Thread & More Hover */
.ChatV2Message-content-wrapper .QuickActionBar-action:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Add reaction */
.ReactionPickerButton-container-type-content, .ReactionBadge-container.ReactionBadge-container-active .ReactionBadge-container-content {
    background-color: rgba(256, 256, 256, 0.08);
    border-radius: 10px;
}
/* Add reaction Hover */
.ReactionPickerButton-container-type-content:hover, .ReactionBadge-container:not(.ReactionBadge-container-disabled).ReactionBadge-container-active:hover .ReactionBadge-container-content {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Pinned messages modal background */
.ChannelWrapper-content .ChannelPinnedMessages-container {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Pinned messages modal content background */
.ChannelWrapper-content .ChatV2PinnedMessage-message-wrapper {
    background-color: rgba(256, 256, 256, 0.05);
}
.ChannelWrapper-content .ChatV2Message-container:not(.ChatV2Message-container-editing):hover {
    background-color: rgba(0, 0, 0, 0.3);
}
/* Server list background */
.NavV4Sidebar-team-selector {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-attachment: fixed;
}
/* Server search area */
.NavV4Sidebar-sidebar-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-attachment: fixed;
}
/* Server search box */
.NavV4Sidebar-sidebar-footer .SearchBarV2-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Replpy to in a thread */
.ChatV2MessageReplyTooltip-arrow, .ChatV2MessageReplyTooltip-content-wrapper {
    background-color: rgb(0, 0, 0, 0.9);
}
/* User Modal */
.ProfileHoverCardV2Overlay-container, .ProfileHoverCardV2Overlay-action-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Reaction picker */
.ReactionPickerOverlay-container .ReactionPickerNavbar-container,
.ReactionPickerOverlay-container .ReactionPicker-content,
.ReactionPickerOverlay-container .SearchBarV2-container,
.ReactionPickerOverlay-container .ReactionPickerFooter-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Message bg active */
.ChatV2Message-container-active {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Skin colour picker */
.SelectMenu-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Skin colour selected */
.SelectMenuItem-container-selected {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Skin colour hover */
.SelectMenuItem-container-desktop:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Picker border */
.TransientMenu-container-style-default {
    border: none;
}
/* Thread bottom bit */
.ChannelTitleInput-container {
    display: none;
}
/* Channel thread view */
.ChatMessageThread-container {
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
}
/* Color bit */
.LastReplyDisplay-container.LastReplyDisplay-container-participant:not(.LastReplyDisplay-container-unread):before {
    background: rgb(255 204 0);;
}



/* Channel options modal */
.TransientMenu-container-style-default {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
    border: solid 1px rgba(256, 256, 256, 0.2);
}





/* Tournaments heading */
.TournamentsPortalHeader-header.ScreenHeader-container {
    background-color: rgba(0, 0, 0, 0.6);
}
/* Tournaments sidebar */
.WebAppV2-container-minimal .WebAppV2-sidebar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Tournaments "Tournaments" */
.NavV4SectionSidebar-container {
    background-color: transparent;
}
/* Tournaments sidebar server name */
.NavV4Footer-container .NavV4FooterGlobalContextDisplay-teams-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Tournaments sidebar server name hover */
.NavV4Footer-container .NavV4FooterGlobalContextDisplay-teams-wrapper .NavV4SelectorRow-container::after {
    background-color: rgba(256, 256, 256, 0.3);
}

/* Create tournament background */
.FullScreenIconFlowWrapper-background {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Create tournament modal */
.FullScreenFlowStageWrapper-container .FullScreenFlowStageWrapper-contents-wrapper {
    background-color: rgba(256, 256, 256, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
}
/* Create tournament game search */
.FullScreenFlowStageWrapper-contents-wrapper .SearchBarV2-container {
    background-color: rgba(256, 256, 256, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.7);
}
/* Create tournament games/server chooser */
.FullScreenFlowStageWrapper-contents-wrapper .ItemChooserItemWrapper-container{
    background-color: rgba(0, 0, 0, 0.5)
}
/* Features tournaments */
.TournamentsPortalSection-container-type-staticgrid .TournamentsPortalSection-list .TournamentCard-container:not(.TournamentCardHeader-game-logo) {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}




/* Server settings */

/* Paste URL section */
.ModalV2-container .MediaUploaderPasteInstructions-container {
    background-color: rgba(256, 256, 256, 0.07);
}

/* Server type/TImezone selection */
.OptionsMenuPageWrapper-container .GuildedSelect-container.GuildedSelect-container-dark .Select-menu-outer {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    border-color: rgba(256, 256, 256, 0.2);
}
/* Open entry */
.OptionsMenuPageWrapper-container .ToggleFieldWrapper-container .SwitchInput-slide:not(.SwitchInput-container-on .SwitchInput-slide) {
    background-color: rgba(256, 256, 256, 0.1);
}
/* default notification settings */
.OptionsMenuPageWrapper-container .RadioOptionPanel-container {
    backdrop-filter: blur(2px);
}
/* Default notifications selected */
.OptionsMenuPageWrapper-container .RadioOptionPanel-container-selected {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Upload image, Transfer ownership & Disband server modal header */

/* Upload image, Transfer ownership & Disband server modal main */

/* Transfer ownership modal search */
.ModalV2-container-has-header .ModalV2-modal-content .SearchBarV2-container {
    background-color: rgba(256, 256, 256, 0.15);
    border: solid 1px rgba(0, 0, 0, 0.9);
}
/* Trasnfer ownership new owner */
.ModalV2-modal-content .CheckboxPanel-container-selected {
    background-color: rgba(256, 256, 256, 0.2)
}
/* Transfer ownership new owners hover */
.CheckboxPanel-container.CheckboxPanel-container-clickable.CheckboxPanel-container-size-sm:hover {
    background-color: rgba(256, 256, 256, 0.25)
}

/* Create bot flows */

/* Trigger flow */
.UserCTAPanel-container {
    background-color: transparent;
}
/* Flow borders */
.ModalV2-container:not(.ModalV2-container-fullscreen) .UserCTAPanel-container-style-bordered {
    border: none;
}
/* Flow background */
.UserCTAPanel-container .UserCTAPanel-contents:not(.UserCTAPanel-container-disabled) {
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 7px;
}
/* Trigger type drop down */
.GuildedSelect-container.GuildedSelect-container-dark .Select-menu-outer {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    border-color: rgba(256, 256, 256, 0.2);
}
/* Trigger type selected */
.GuildedSelect-container.GuildedSelect-container-dark .Select-option.is-selected {
    background-color: rgba(256, 256, 256, 0.1)
}a
/* Create forum topic in channel */
.GuildedSelect-container.GuildedSelect-container-dark .Select-noresults {
    background-color: rgba(256, 256, 256, 0.2)
}



/* Channel creation */

/* Create channel selected */
.RadioOptionPanel-container-selected {
    background-color: transparent
}
/* Connection display */
.VoiceConnectionDisplayPanelContents-container * {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;;
}
/* Stream background */
.StreamChannelDisplay-container {
    background-color: rgba(0, 0, 0, 0.1)
}
/* Stream: Screen, Cam, Voice */
.StreamChannelDisplay-container .SVGIconWithTooltip-container-flavor-hover-bleach {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Stream: Invite link */
.StreamChannelDisplay-container .CopyableTextbox-container {
    background-color: rgba(256, 256, 256, 0.05)
}
/* Stream: Screen share : Application */
.DesktopAppCaptureDevicePickerOverlay-options {
    background-color: rgba(256, 256, 256, 0.05)
}
/* Stream connected */
.StreamsDisplayV2-container:not(.StreamTheaterViewer-content .StreamsDisplayV2-container) {
    background-color: rgba(0, 0, 0, 0.8)
}
/* Stream: Theatre display */
.StreamTheaterViewer-content .StreamsDisplayV2-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Stream: Theatre sidebar */
.StreamTheaterViewer-sidebar .ScreenHeader-container, .StreamTheaterViewer-sidebar .SidebarWrapper-container  {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Voice lobby */
.VoiceChannelDisplay-container {
    background-color: rgba(0, 0, 0, 0.8)
}
/* Voice: Invite */
.VoiceGroupInviteControl-container .CopyableTextbox-container {
    background-color: rgba(256, 256, 256, 0.05)
}

/* Calendar: Main colour */
.FullSizedCalendar-week {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px) ;
}
/* Calendar: Different month */
.FullSizedCalendar-week .FullSizedCalendarDay-container-different-month {
    background-color: rgba(0, 0, 0, 0.4);
}
/* Calendar: Today */
.FullSizedCalendar-week .FullSizedCalendarDay-container-today{
    background-color: rgba(256, 256, 256, 0.05);
}
/* Calendar: Hover */
.FullSizedCalendar-week .FullSizedCalendarDay-container-desktop.FullSizedCalendarDay-container-can-create:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Calendar: Create event: Date picker: Header */
.DayPicker-header {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Schedule */

/* Shedule: Main colour */
.ChannelWrapper-contents .AvailabilityDisplay-container, .ChannelWrapper-content .AvailabilityDisplayHeader-day {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
/* Schedule: Today */
.ChannelWrapper-contents .AvailabilityDisplayHeader-day-today {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Schedule: Change week */
.ChannelWrapper-contents .AvailabilityDisplayHeader-button {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
/* Availability */
.ChannelWrapper-contents .AvailabilityDisplayDaysPlaceholder-create {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Announcements */
/* Announcement: Main colour */
.TeamAnnouncementItem-container .OverviewWidgetItemWrapper-container-type-filled {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Announcement: Loading */
.TeamAnnouncementsWidget-container .OverviewWidgetSkeleton-container-type-filled, .TeamAnnouncementWithReplies-container .OverviewWidgetSkeleton-container-type-filled {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Announcement: Loading: Avatae */
.TeamAnnouncementsWidget-container .OverviewWidgetSkeleton-profile-picture, .TeamAnnouncementWithReplies-container .OverviewWidgetSkeleton-profile-picture {
    background: rgba(256, 256, 256, 0.12);
}
/* Announcement: Loading: Text */
.OverviewWidgetSkeleton-text, .OverviewWidgetSkeleton-subtitle, .TeamAnnouncementWithReplies-container .OverviewWidgetSkeleton-paragraph {
    background: rgba(256, 256, 256, 0.12);
}
/* Announcement: Reply: Main colour */
.TeamAnnouncementWithReplies-container .ReplyPanel-container-viewing {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Announcement: Reply: Quote */
.TeamAnnouncementWithReplies-container .ReplyPanel-container-viewing .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Forums */

/* Create forum> Create topic+body */
.DraftInputWithTitleV2-container-desktop.DraftInputWithTitleV2-container .DraftInputWithTitleV2-title-wrapper, .DraftInputWithTitleV2-container .DraftInputWithTitleV2-editor {
    background-color: transparent;
}
/* Loading/forum post */
.TeamThreadPostPanel-container .TeamThreadPostPanelDisplay-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Loading title/body */
.SkeletonPlaceholder-container-no-children {
    background: rgba(0, 0, 0, 0.6);
}
/* Write a reply */
.TeamThreadReplyCreator-container-desktop .TeamThreadReplyCreator-unexpanded-wrapper {
    background: rgb(0, 0, 0, 0.5);
}
/* Repl body */
.TeamThreadPostPanel-container {
    background-color: transparent;
}
/* Add reply */
.TeamThreadPostEditor-container:not(.TeamThreadPosts-reply-creator .TeamThreadPostEditor-container):not(.TeamThread-reply-creator .TeamThreadPostEditor-container) {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
/* Forum post list */
.TeamPostRow-container {
    background-color: rgba(0, 0, 0, 0.7);
}