







/* Server list: Main colour */
.NavV4Sidebar-team-selector {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-attachment: fixed;
}
/* Server search: Main colour */
.NavV4Sidebar-sidebar-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-attachment: fixed;
}
/* Server search: Active */
.NavV4Sidebar-sidebar-footer .SearchBarV2-container {
    background: linear-gradient(rgba(256, 256, 256, 0.05), rgba(256, 256, 256, 0.05)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}












/* Member & threadlist: Main colour */
.TeamPageV2-container .SidebarWrapper-container {
    background-color: rgba(0, 0, 0, 0.7);;
}
/* Member & threadlist: Inside: Colour */
.SimpleIconTabMenu-container .SidebarInfoItem-container {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Member & threadlist: Top button things */
.TeamPageV2-container .SidebarWrapper-container
.SimpleIconTabMenuHeaderItem-container:hover,
.TeamPageV2-container .SidebarWrapper-container
.SimpleIconTabMenuHeaderItem-container:active,
.TeamPageV2-container .SidebarWrapper-container
.SimpleIconTabMenuHeaderItem-container:focus {
    background-color: rgb(0, 0, 0, 0.2);
}





/* Tournaments */
/* Tournaments: Sidebar */
.WebAppV2-sidebar, .WebAppV2-sidebar .NavV4SectionSidebar-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Tournaments: Active */
.NavV4SectionSidebarOption-container.NavV4SectionSidebarOption-container-active.NavV4SectionSidebarOptionGroup-option {
    background-color: rgba(256, 256, 256, 0.1);
}
/* Tournaments: Sidebar: Server */
.WebAppV2-sidebar .NavV4FooterGlobalContextDisplay-teams-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Tournaments: Loading featured */
.TournamentsPortalPage-sections .ExploreSkeleton-card, .TournamentsPortalPage-sections .ExploreSkeleton-title {
    background: rgba(0, 0, 0, 0.5);
}
/* Tournaments: Featured */
.TournamentsPortalPage-sections .TournamentCard-container {
    background-color: rgba(0, 0, 0,  0.5);
}









/* Channel list: Main colour */
.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Channel list: Active channel */
.TeamPageNavV3-container-desktop .TeamPageNavV3-nav-sections .TeamChannelItemContents-container-selected {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Profile, Status, Activity, Settings and More */ 
.NavV4Footer-right {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}









/* Channels */


/* Stream */
/* Stream: background */
.StreamChannelDisplay-container {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Stream: Screen, Cam, Voice */
.StreamChannelDisplay-container .SVGIconWithTooltip-container-flavor-hover-bleach {
    background-color: rgba(256, 256, 256, 0.05);
}
/* Stream: Invite link */
.StreamChannelDisplay-container .CopyableTextbox-container {
    background-color: rgba(256, 256, 256, 0.05)
}
/* Stream: Screen share : Application */
.DesktopAppCaptureDevicePickerOverlay-options {
    background-color: rgba(256, 256, 256, 0.05)
}
/* Stream: Connectivity */
.VoiceConnectionDisplayPanelContents-container * {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;;
}
/* Stream connected */
.StreamsDisplayV2-container:not(.StreamTheaterViewer-content .StreamsDisplayV2-container) {
    background-color: transparent;
}
/* Stream: Theatre display */
.StreamTheaterViewer-content .StreamsDisplayV2-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Stream: Theatre sidebar */
.StreamTheaterViewer-sidebar .ScreenHeader-container, .StreamTheaterViewer-sidebar .SidebarWrapper-container  {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Voice */
/* Voice: lobby */
.VoiceChannelDisplay-container {
    background-color: rgba(0, 0, 0, 0.8)
}
/* Voice: Invite */
.VoiceGroupInviteControl-container .CopyableTextbox-container {
    background-color: rgba(256, 256, 256, 0.05)
}

/* Calendar */
/* Calendar: Main colour */
.FullSizedCalendar-week {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px) ;
}
/* Calendar: Different month */
.FullSizedCalendar-week .FullSizedCalendarDay-container-different-month {
    background-color: rgba(0, 0, 0, 0.4);
}
/* Calendar: Today */
.FullSizedCalendar-week .FullSizedCalendarDay-container-today{
    background-color: rgba(256, 256, 256, 0.05);
}
/* Calendar: Hover */
.FullSizedCalendar-week .FullSizedCalendarDay-container-desktop.FullSizedCalendarDay-container-can-create:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Calendar: Create event: Date picker: Header */
.DayPicker-header {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Schedule */
/* Shedule: Main colour */
.ChannelWrapper-contents .AvailabilityDisplay-container, .ChannelWrapper-content .AvailabilityDisplayHeader-day {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}
/* Schedule: Today */
.ChannelWrapper-contents .AvailabilityDisplayHeader-day-today {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Schedule: Change week */
.ChannelWrapper-contents .AvailabilityDisplayHeader-button {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
/* Availability */
.ChannelWrapper-contents .AvailabilityDisplayDaysPlaceholder-create {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Announcements */
/* Announcement: Main colour */
.TeamAnnouncementItem-container .OverviewWidgetItemWrapper-container-type-filled {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Announcement: Post */
.TeamAnnouncementsWidget-container .DraftInputWithTitleV2-title-wrapper {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Announcement: Post: Body */
.TeamAnnouncementsWidget-container .Editor-container {
    background-color: rgba(0, 0, 0,  0.5)
}
/* Announcement: Loading */
.TeamAnnouncementsWidget-container .OverviewWidgetSkeleton-container-type-filled, .TeamAnnouncementWithReplies-container .OverviewWidgetSkeleton-container-type-filled {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Announcement: Loading: Avatar */
.TeamAnnouncementsWidget-container .OverviewWidgetSkeleton-profile-picture, .TeamAnnouncementWithReplies-container .OverviewWidgetSkeleton-profile-picture {
    background: rgba(256, 256, 256, 0.12);
}
/* Announcement: Loading: Text */
.OverviewWidgetSkeleton-text, .OverviewWidgetSkeleton-subtitle, .TeamAnnouncementWithReplies-container .OverviewWidgetSkeleton-paragraph {
    background: rgba(256, 256, 256, 0.12);
}
/* Announcement: Reply: Main colour */
.TeamAnnouncementWithReplies-container .ReplyPanel-container-viewing {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Announcement: Reply: Quote */
.TeamAnnouncementWithReplies-container .ReplyPanel-container-viewing .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Announcement: Reaction picker */
.ReactionPicker-container .ReactionPickerNavbar-container,
.ReactionPicker-container .ReactionPicker-content,
.ReactionPicker-container .SearchBarV2-container,
.ReactionPicker-container .ReactionPickerFooter-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Forums */
/* Forum: Post */
.TeamForumsThreadsDisplay-container .DraftInputWithTitleV2-title-wrapper, .TeamPostRow-container {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Forum: Post: Body */
.TeamForumsThreadsDisplay-container .Editor-container {
    background-color: rgba(0, 0, 0,  0.5)
}
/* Forum: Content */
.TeamThread-content .TeamThreadPostPanelDisplay-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Forum: Content: Quote */
.TeamThread-content .TeamThreadPostPanel-display .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Forum: Loading: Text */
.TeamThread-content .TeamThreadPostPanelDisplay-container .SkeletonPlaceholder-container-no-children {
    background: rgba(256, 256, 256, 0.12);
}
/* Forum: Write a reply [1] */
.TeamThread-content .TeamThreadReplyCreator-unexpanded-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Forum: Write a reply [2] */
.TeamThread-content .TeamThread-posts .TeamThreadPostEditor-container:not(.TeamThreadPostPanel-inline-reply) {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Forum: Write a reply [3] */
.TeamThread-reply-creator .TeamThreadPostEditor-container {
    background-color: rgba(0, 0, 0,  0.5);
}
/* Forum: Reply: Inline reply */
.TeamThread-content .TeamThreadPostPanel-inline-reply {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* List */
/* List: Add item */
.TeamList-container .TeamListItemWrapper-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* List: Item */
.TeamList-container .TeamListItemIndentWrapper-container {
    background-color: transparent;
}
/* List: Move item */
.TeamList-container .TeamListItemIndentWrapper-container .ReorderIndentable-blockout {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Docs */
/* Docs: Editor */
.DocEditor-container .DocEditor-content-input {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
/* Docs: Editor: Indent */
.DocEditor-container .DocEditor-content-input .ParagraphRenderer {
    margin-left:5px;
}
/* Docs: Main colour */
.DocsGrid-container .DocsGrid-grid .DocDisplayItem-container {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Docs: Info colour */
.DocsGrid-container .DocsGrid-grid .DocDisplayItem-container .DocSummaryInfo-container {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Docs: Reply */
.DocViewer-comments .RepliesDisplayV2-container .ReplyPanel-container-viewing {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Docs: Reply: Quote */
.DocViewer-comments .RepliesDisplayV2-container .ReplyPanel-container-viewing .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7)
}

/* Media */
/* Media: Main colour */
.TeamMedia-container .MediaDisplayItemV3-container {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Media: View media: Main colour */
.MediaSplitView-container .MediaSplitView-media {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* Media: View media: Info pane */
.MediaSplitView-container-desktop .MediaSplitView-right-pane .MediaInfoPane-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
/* Media: View media: Info pane: Comment */
.MediaSplitView-container-desktop .MediaSplitView-right-pane .ReplyPanel-container-viewing {
    background-color: rgba(0, 0, 0, 0.5)
}
/* Media: View media: Info pane: Comment: Quote */
.MediaSplitView-container-desktop .MediaSplitView-right-pane .ReplyPanel-container-viewing .BlockQuoteContainerRenderer {
    background-color: rgba(0, 0, 0, 0.7)
}