/**
Name: Nature is wonderful
Author: Ranger
Version: 1
Description: Just a small WIP
Server: https://www.guilded.gg/i/pB1rlyLk
Source: https://github.com/Ranger-4297/RG
**/

/* To use the preview theme, please replace "SRC" with "Preview" */
@import url('https://ranger-4297.github.io/RG/SRC/ASSETS/CSS/BaseTheme.css');
@import url('https://ranger-4297.github.io/RG/SRC/ASSETS/CSS/messages.css');


/* Change these to change/edit your themes appearance */
:root {
    /* Backgrounds */
    --background-image: url('https://ranger-4297.github.io/RG/SRC/ASSETS/images/base.jpg'); /* Base theme background */
    --serverlist-image: url('https://images.pexels.com/photos/358238/pexels-photo-358238.jpeg?cs=srgb&dl=pexels-pixabay-358238.jpg&fm=jpg'); /* (Ctrl+S) server list (NOT on legacy) */
    --usermodal-image: url('https://ranger-4297.github.io/RG/SRC/ASSETS/images/modal.jpg'); /* Background of user modal */

    /* SMS style messages (Ignore if you have removed the messages import) */
    --message-bg: rgba(0, 0, 0, 0.8); /* Background for messages */
    --message-hover-bg: rgba(0, 0, 0, 0.9); /* Hovered background for messages */
    --mention-bg: var(--message-bg); /* Background of mentioned messages */
    --mention-hover-bg: var(--message-hover-bg); /* Hovered background of mentioned messages */
    --mention-indent: #f8d64c; /* Indent color of mentioned messages */

    /* Accents */
    --accent-color: rgba(138, 191, 139, 1); /* Accent colour (Will be used more in the future */

    /* Sizes */
    --memberlist-size: 6%; /* Change size of the memberlist **before** hovering. 

    /* DO NOT CHANGE */
    --version1_02: none; /* Version tracking for update notice */
}