/**
Name: Nature is wonderful
Author: Ranger
Version: 1
Description: Just a small WIP
Source: https://github.com/Ranger-4297/RG
**/

@import url('https://ranger-4297.github.io/RG/SRC/ASSETS/CSS/BaseTheme.css');

:root {
    --background-image: url('https://i.pinimg.com/originals/fc/12/af/fc12af4fdda0c0ec5cf23ae293d11a7d.png');
    --message-bg: rgba(256, 256, 256, 0.15);
    --message-hover-bg: rgba(256, 256, 256, 0.4);
    --mention-indent: #f8d64c;
}